body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 0 10px;
}

.section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.section2 {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.flex-container3 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

input {
    padding: 10px;
    min-width: 150px;
    height: 50px;
}

.section .flex-container>*,
.section2 .flex-container2>*,
.section3 .flex-container>* {
    flex: 1 1 0px;
    min-width: 0;
}

.flex-container input[type="text"] {
    flex: 3;
}

button {
    padding: 10px 15px;
    width: 200px;
    height: 48px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    cursor: pointer;
}

.flex-container button,
.flex-container2 button,
.flex-container3 button {
    flex: 0 0 auto;
}

button:hover {
    background-color: #0056b3;
}

/* Add styles for the table */
#searchResult table {
    width: 100%;
    background-color: #f9f9f9;
}

#searchResult th,
#searchResult td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#searchResult tr {
    background-color: #f2f2f2;
}

#searchResult th {
    background-color: #333;
    color: white;
    text-align: center;
}

#userID,
#deviceID,
#usageDateDate
#usageDuration {
    flex-grow: 1;
}

#searchResult,
#addUserResult,
#updateUserResult,
#deleteUserResult,
#addUpdateDeviceUsesResults {
    display: none;
    margin-top: 10px;
    text-align: left;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

#searchResult ul,
#addUserResult ul,
#updateUserResult ul,
#deleteUserResult ul,
#addUpdateDeviceUsesResults ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#searchResult li,
#addUserResult li,
#updateUserResult li,
#deleteUserResult li,
#addUpdateDeviceUsesResults li {
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
}

#searchResult li:last-child,
#addUserResult li:last-child,
#updateUserResult li:last-child,
#deleteUserResult li:last-child {
    border-bottom: none;
}

#searchResult li:hover,
#addUserResult li:hover,
#updateUserResult li:hover,
#deleteUserResult li:hover,
#addUpdateDeviceUsesResults li:hover {
    background-color: #e6e6e6;
}

/* CONFIRM POPUP */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fefefe;
    margin: 0;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content h4 {
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
    font-size: 24px;
}

.modal-content p {
    text-align: center;
    margin: 15px 0;
    font-size: 18px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn-flat {
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    flex: 1;
    text-align: center;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0;
    font-size: 16px;
}


#confirmDelete {
    background-color: #d32f2f;
}

#confirmDelete:hover,
.btn-flat:hover {
    opacity: 0.8;
}

#confirmDelete:hover {
    background-color: #b71c1c;
}

/* PAGINATION SEARCH */

#paginationControls {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
}

.pagination-prev {
    margin-right: auto;
    width: 25%;
}

.pagination-next {
    margin-left: auto;
    width: 25%;
}

#paginationControls button:only-child {
    margin-left: auto;
}

/* DARK-MODE */

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode #confirmDelete {
    background-color: #b71c1c;
    color: white;
}

body.dark-mode #confirmDelete:hover {
    background-color: #7f0000;
}

body.dark-mode .section,
body.dark-mode .section2,
body.dark-mode .flex-container,
body.dark-mode .flex-container2,
body.dark-mode .flex-container3,
body.dark-mode #searchResult,
body.dark-mode #addUserResult,
body.dark-mode #updateUserResult,
body.dark-mode #deleteUserResult,
body.dark-mode #addUpdateDeviceUsesResults {
    background-color: #333;
    border-color: #444;
    color: #ddd;
}

body.dark-mode button {
    background-color: #0056b3;
    color: #ddd;
}

body.dark-mode button:hover {
    background-color: #003a75;
}

body.dark-mode input {
    background-color: #424242;
    color: #e0e0e0;
    border: 1px solid #606060;
}

body.dark-mode input::placeholder {
    color: #ccc;
}

body.dark-mode #searchResult table {
    background-color: #1c1c1c;
    color: #e0e0e0;
}

body.dark-mode #searchResult th,
body.dark-mode #searchResult td {
    border: 1px solid #444;
}

body.dark-mode #searchResult tr {
    background-color: #333;
}

body.dark-mode #searchResult th {
    background-color: #222;
    color: #ddd;
}

body.dark-mode .modal-content {
    background-color: #333;
    color: #fff;
}

body.dark-mode .btn-flat {
    background-color: #0056b3;
    color: #ccc;
}

body.dark-mode .btn-flat:hover {
    background-color: #003a75;
}

body.dark-mode .modal {
    background-color: rgba(0, 0, 0, 0.7);
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}